extends layout

block content
    link(rel='stylesheet', href='/stylesheets/loading.css')

    div.container
        h1 Upscaling in Progress
        p The image is currently being upscaled. Please wait for the process to complete.
        p You can bookmark this page and come back later to view the results.

        div.progress-spinner
        a(href="../") Back to Upload Page
    script(src="/scripts/loading.js", data-image-id=imageId)
