extends layout

block content
    link(rel='stylesheet', href='/stylesheets/results.css')
    div.container
        h1 Upscaled Image
        p Press right click -> save image to download

        div.image-container
            //img(src=originalImageUrl, alt="Original Image")
            img(src=upscaledImageUrl, alt="Upscaled Image")

        a(href="../") Back to Upload Page
