body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #c5caf0;
    margin: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #4f5ab7;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #ffffff;
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
}

.image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

img {
    max-width: 500px;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

a {
    text-decoration: none;
    color: #ffffff;
    background-color: #3a448e;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #222a77;
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 100%;
    }

    .image-container {
        flex-direction: column;
        align-items: center;
    }
}
